{% extends "::base.html.twig" %}

{% block title %}Erreur{% endblock %}

{% block body %}
	<div class="error">
		<p><span class="error">{{ status_code }} :</span> <span class="error_p">{{ exception.message }}</span></p>
	</div>
{% endblock%}