{% extends "TroiswaTestBundle::layout.html.twig" %}

{% block title %}TroiswaTestBundle:Category:create{% endblock %}

{% block content %}
	<div class="news">
	{{ form(form) }}
	</div>
{% endblock %}
