<ul>
	<li><a href="{{ path('troiswa_test_categories') }}">Catégories</a></li>
{% for category in category_list %}
<li><a href="{{ path('troiswa_test_category', {'id' :category.slug})}}">{{category.nom}}</a></li>
{% endfor %}
</ul>