{% extends "TroiswaTestBundle::layout.html.twig" %}

{% block title %}TroiswaTestBundle:User:update{% endblock %}

{% block content %}
	<div class="news">
	{{ form(form) }}
	<p><a href="{{ path('troiswa_test_password', {'id': user.id}) }}">Modifier password</a></p>
	</div>
{% endblock %}